@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-darker text-text font-sans overflow-x-hidden;
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    10% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.4;
    }

    100% {
        transform: translateY(-100vh) rotate(720deg);
        opacity: 0;
    }
}